<div class="timex-fully-aligned-container timex-column-directed-flex">
  <table class="timex-table">
    <thead>
    <tr>
      <th>Manager</th>
      <th>Hours For Week</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td [ngStyle]="{'text-align': 'left'}">John Doe</td>
      <td [ngStyle]="{'text-align': 'right'}">320.00</td>
      <td class="timex-summary-status">
        <p>12 paid</p>
        <p>0 approved</p>
        <p>0 disapproved</p>
        <p>0 unpaid</p>
      </td>
    </tr>
    <tr>
      <td [ngStyle]="{'text-align': 'left'}">Mary Jane</td>
      <td [ngStyle]="{'text-align': 'right'}">367.00</td>
      <td class="timex-summary-status">
        <p>12 paid</p>
        <p>0 approved</p>
        <p>0 disapproved</p>
        <p>0 unpaid</p>
      </td>
    </tr>
    <tr>
      <td [ngStyle]="{'text-align': 'left'}">Ahmed Rahim</td>
      <td [ngStyle]="{'text-align': 'right'}">312.00</td>
      <td class="timex-summary-status">
        <p>12 paid</p>
        <p>0 approved</p>
        <p>0 disapproved</p>
        <p>0 unpaid</p>
      </td>
    </tr>
    <tr>
      <td [ngStyle]="{'text-align': 'left'}">Ching Wei</td>
      <td [ngStyle]="{'text-align': 'right'}">225.00</td>
      <td class="timex-summary-status">
        <p>12 paid</p>
        <p>0 approved</p>
        <p>0 disapproved</p>
        <p>0 unpaid</p>
      </td>
    </tr>
    <tr class="timex-highlighted-cell">
      <td [ngStyle]="{'text-align': 'left'}">Average Hours</td>
      <td [ngStyle]="{'text-align': 'right'}">300.00</td>
      <td></td>
    </tr>
    <tr class="timex-highlighted-cell">
      <td [ngStyle]="{'text-align': 'left'}">TOTAL</td>
      <td [ngStyle]="{'text-align': 'right'}">1300.00</td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <div class="timex-horizontally-aligned-container">
    <button type="button" class="timex-button-primary" (click)="print()">Print</button>
  </div>
</div>
