<div class="timex-fully-aligned-container timex-column-directed-flex">
  <table class="timex-table">
    <thead>
    <tr>
      <th>Manager</th>
      <th>Hours For Week</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let report of summaryReports">
      <td [ngStyle]="{'text-align': 'left'}">{{report.managerName}}</td>
      <td [ngStyle]="{'text-align': 'right'}">{{report.hoursForWeek}}</td>
      <td class="timex-summary-status">
        <p>{{report.status.paidHours}} paid</p>
        <p>{{report.status.approvedHours}} approved</p>
        <p>{{report.status.disapprovedHours}} disapproved</p>
        <p>{{report.status.unpaidHours}} unpaid</p>
      </td>
    </tr>
    <tr class="timex-highlighted-cell">
      <td [ngStyle]="{'text-align': 'left'}">Average Hours</td>
      <td [ngStyle]="{'text-align': 'right'}">{{averageHours}}</td>
      <td></td>
    </tr>
    <tr class="timex-highlighted-cell">
      <td [ngStyle]="{'text-align': 'left'}">TOTAL</td>
      <td [ngStyle]="{'text-align': 'right'}">{{totalHours}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <div class="timex-horizontally-aligned-container">
    <button type="button" class="timex-button-primary" (click)="print()">Print</button>
  </div>
</div>
