<div class="timex-fully-aligned-container timex-column-directed-flex">
  <div class="timex-space-between-container timex-print-header">
    <p><span class="timex-bold-font">Employee</span>: John Smith</p>
    <p><span class="timex-bold-font">Period ending</span>: January 21, 2017</p>
  </div>

  <table class="timex-table">
    <thead>
    <tr>
      <th>Department</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Information Technology</td>
      <td>8.00</td>
      <td>8.00</td>
      <td>8.00</td>
      <td>7.5</td>
      <td>6.5</td>
      <td></td>
      <td></td>
      <td>38.0</td>
    </tr>
    </tbody>
  </table>
</div>
