<div class="timex-fully-aligned-container timex-column-directed-flex">
  <p>
    <a [routerLink]="['/timesheet', 'new']">Click here</a> to add a new timesheet, or select one from the list below
  </p>

  <table class="timex-table">
    <thead>
    <tr>
      <th>Period Ending</th>
      <th>Hours</th>
      <th>Timesheet Id</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <a [routerLink]="['/timesheet', 1234]">January 21, 2019</a>
      </td>
      <td>39.50</td>
      <td>1234</td>
    </tr>
    <tr>
      <td>
        <a [routerLink]="['/timesheet', 1239]">January 14, 2019</a>
      </td>
      <td>43.00</td>
      <td>1239</td>
    </tr>
    <tr>
      <td>
        <a [routerLink]="['/timesheet', 1242]">January 07, 2019</a>
      </td>
      <td>40.00</td>
      <td>1242</td>
    </tr>
    </tbody>
  </table>
</div>
