<div class="timex-fully-aligned-container timex-column-directed-flex">
  <p>
    <a [routerLink]="['/enter-hours', 'new']">Click here</a> to add a new timesheet, or select one from the list below
  </p>

  <table class="timex-table" *ngIf="employeeTimesheets && employeeTimesheets.length">
    <thead>
    <tr>
      <th>Period Ending</th>
      <th>Hours</th>
      <th>Timesheet Id</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let t of employeeTimesheets">
      <td>
        <a [routerLink]="['/enter-hours', t.id]">{{t.periodEnding | date: 'mediumDate'}}</a>
      </td>
      <td>{{t.totalHours}}</td>
      <td>{{t.id}}</td>
    </tr>
    </tbody>
  </table>
</div>
