<div class="timex-fully-aligned-container timex-column-directed-flex" [formGroup]="approvalForm">
  <div formArrayName="timesheets">
    <table class="timex-table">
      <thead>
      <tr>
        <th>Employee</th>
        <th>Hours For Week</th>
        <th>Approve</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of approvalForm.get('timesheets').controls; let i = index;" [formGroupName]="i">
        <td [ngStyle]="{'text-align': 'left'}">
          <a [routerLink]="['/timesheets', t.controls.timesheetId.value, 'print']">
            {{t.controls.employeeName.value}}
          </a>
        </td>
        <td [ngStyle]="{'text-align': 'right'}">{{t.controls.hoursForWeek.value}}</td>
        <td class="timex-approval-box">
          <span>
            <input type="radio" formControlName="approved" [value]="true" [checked]="t.controls.approved.value === true" class="timex-confirmation-radio">
            <label>Yes</label>
          </span>

          <span>
            <input type="radio" formControlName="approved" [value]="false" [checked]="t.controls.approved.value === false" class="timex-confirmation-radio">
            <label>No</label>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="timex-horizontally-aligned-container">
    <button type="button" class="timex-button-primary" (click)="save()">Save</button>
    <button type="button" class="timex-button-primary" (click)="reset()">Reset</button>
  </div>
</div>
