@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "variables";

html,
body,
input,
ul,
ol {
  margin:  0;
  padding: 0;
}

html, body {
  height: $full-screen-height;
}

* {
  box-sizing:border-box;
}

body, input, button {
  font-family: 'Roboto';
  font-size: $default-font-size;
}

%timex-flex-container {
  display: flex;
}

.timex-horizontally-aligned-container {
  @extend %timex-flex-container;
  justify-content: center;
}

.timex-vertically-aligned-container {
  @extend %timex-flex-container;
  align-items: center;
}

.timex-fully-aligned-container {
  @extend %timex-flex-container;
  justify-content: center;
  align-items: center;
}

.timex-full-height-container {
  height: $full-screen-height;
}

.timex-column-directed-flex {
  @extend %timex-flex-container;
  flex-direction: column;
}

.timex-button-primary {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.timex-button-primary:hover,
.timex-button-primary:focus {
  background: #0053ba;
}

.timex-button-primary:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.timex-button-primary:active {
  transform: scale(0.99);
}

.timex-input {
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.timex-table {
  border: 1px solid #cbcbcb;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.6;

  thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: center;
    vertical-align: bottom;
  }

  td, th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    text-align: center;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
  }
}
